.PopupAlert {
    position: fixed;
    bottom: 50px;
    right: -50%;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    width: 300px;
    padding: 1.3em;
    transition: 0.5s ease-in-out;

    img {
        width: auto;
        height: 24px;
    }

    .icon-close {
        position: absolute;
        opacity: 0.2;
        right: 0.2em;
        top: 0.5em;
        transition: 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }

        &:active {
            opacity: 1;
        }
    }

    .popup-body {
        display: flex;
        flex-direction: row;
        transition: 0.5s ease-in-out;
        opacity: 0;

        .popup-icon-cell {
            padding-right: 0.7em;
        }

        .popup-content-cell {
            display: flex;
            flex-direction: column;
            width: 100%;

            .popup-title {
                font-size: 18px;
                color: #505558;
                font-weight: normal;
            }

            .popup-text {
                font-size: 16px;
                font-weight: 300;
                color: #505558;
                display: flex;
                justify-content: space-between;
            }

            .popup-text-bold {
                @extend .popup-text;
                font-weight: bold;
            }
        }
    }

    .popup-body-show {
        opacity: 1;
    }

    .popup-body-noAnim {
        transition: none;
        opacity: 1;
    }

    .popup-body + .popup-body {
        margin-top: 0.8em;
        padding-top: 0.8em;
        border-top: solid 1px rgba(220, 221, 222, 0.5);
    }
}

.popup-show {
    right: 5%;
}
