.Header_main {
    position: relative;
    z-index: 10;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

    .Header_network {
        background: $s-color-primary7;
        padding: 8px 0;

        .Network_bar {
            display: flex;
            justify-content: space-between;
        }
    }

    .Header_background {
        background: #fff;
        position: relative;

        .Header {
            display: flex;
            padding-top: 18px;
            padding-left: 18px;
            padding-right: 18px;
            align-items: baseline;
            justify-content: space-between;

            &:after {
                display: none;
            }

            .Header_nav {
                height: 54px;
                display: flex;
                align-items: baseline;
                position: relative;

                a {
                    margin-right: 36px;
                    text-decoration: none;
                }

                .Nav_logo {
                    font-weight: bold;
                    color: $s-color-primary4;
                    font-size: $s-scale-2;
                }

                .Nav_link {
                    padding: 4px 10px;
                    margin-right: 16px;
                    border-radius: 3px;
                }

                .Nav_link.is-current {
                    background: $s-color-neutral8;
                }

                .Nav_link:hover {
                    background: $s-color-primary4;
                    color: #fff;
                }

                .buy_crypto {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        margin-left: 0.5em;
                        height: 15px;
                        width: 52px;
                    }
                }
            }

            .Header_version {
                opacity: 0.5;
            }
        }
    }
}

@mixin header_fullscreen {
    position: fixed;
    width: 100%;

    .so-back {
        padding-right: 0;
        padding-left: 18px;
    }

    .so-chunk {
        max-width: 100%;
    }

    .Header_background {
        .Header {
            .Header_nav {
                .Nav_logo {
                    margin-right: 16px;
                }
                .Nav_link {
                    margin-right: 5px;
                }
            }
            .Header_version {
                display: none;
            }
        }
    }
}

:-webkit-full-screen #stellarterm_header {
    @include header_fullscreen;
}

:-moz-full-screen #stellarterm_header {
    @include header_fullscreen;
}

:-ms-fullscreen #stellarterm_header {
    @include header_fullscreen;
}

:fullscreen #stellarterm_header {
    @include header_fullscreen;
}
