.Footer {
    font-size: 12px;
    background: #fff;

    .Footer_chunk {
        display: flex;
        flex-direction: column;
        border-radius: 3px 3px 0 0;

        .Footer_links {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 1.25em 0;
            font-size: 14px;

            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: #505558;
                font-weight: 300;
                transition: 0.2s ease-in-out;

                &:hover {
                    color: #787d7f;
                }

                img {
                    margin-right: 0.75em;
                    height: 1em;
                    width: auto;
                }
            }

            .Footer_social_links {
                a + a {
                    margin-left: 2.5em;
                }
            }

            .Footer_social_links,
            .Footer_privacy_links {
                display: inherit;
            }

            .Footer_privacy_links {
                a:first-child {
                    padding-right: 0.7em;
                    border-right: solid 1px #dfe0e1;
                }

                a + a {
                    border-right: solid 1px #dfe0e1;
                    padding: 0 0.7em;
                }

                a:last-child {
                    padding-left: 0.7em;
                    padding-right: 0;
                    border: none;
                }
            }
        }

        .Footer_disclaimer {
            padding: 1em 0;
            border-top: solid 1px #dfe0e1;
            width: auto;
            text-align: center;
        }

        .Footer_disclaimer + .Footer_disclaimer{
            border-top: none;
            padding-top: 0;
        }
    }
}
